html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.text-center {
  text-align: center;
}

.App {
  max-width: 70rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.center-box {
  transform: translateY(25%);
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

button {
  width: 100%;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
  height: 10rem;
  border: 1px solid white;
  cursor: pointer;
}

.disContainer {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  background-color: grey;
  font-size: 3.2rem;
  color: white;
  font-weight: bolder;
  height: 10rem;
}

.orange {
  background-color: orange;
  color: white;
}

.orange:hover {
  background-color: rgb(255, 188, 64);
}

.white:hover {
  background: lightgray;
}

.flex {
  flex: 0 1 200%;
  padding: 2.1rem;
}

.history {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  color: lightcyan;
}
